@using RevisionExam1_Equipe.Models
@using RevisionExam1_Equipe.Models.ViewModel

@model Panier

<h1>Panier</h1>

<h2>Bienvenue @Model.Client.Prenom @Model.Client.Nom !</h2>
<p>Numéro Client : @Model.Client.NumClient</p>

<h2>Contenu du panier</h2>

<table class="table">
	<tr>
		<th>ID</th>
		<th>Titre du Livre</th>
		<th>Prix</th>
	</tr>
	@foreach (var item in Model.ListePanier)
	{
		<tr>
			<td>@item.Id</td>
			<td>@item.Titre</td>
			<td>@item.Prix</td>
		</tr>
	}
</table>
<p>Total : @Model.ListePanier.Sum(li => li.Prix) $</p>



